header img {
    width: 50px;
   ;
}

header {
    width: 100%;
    height: 50px;
    background-color: rgb(30, 34, 34);
    padding: 20px;
  
}
header > div {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    align-items: center;
   
    
}
header ul {
    width: 290px;
    display: flex;
    padding-left: 200px;
    justify-content: space-between;
   

}

header ul li a {
    color: white;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header-2 img {
    width: 200px;
    height: 200px;
    margin: 50px;
}
header-2 {
width: 80%;
height: 100px;
display: flex;
}
header-2 > div {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    align-items: center;
}
header-2 ul {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header-3 {
    width: 90%;
    height: 50px;
    display: flex;
}
header-3 > div {
    display: flex;
    max-width: 1000px;
}
header-3 ul {
    width:500px;
    display: flex;
    padding-left: 300px;
}